.titleBar {
  height: 30px;
  background: #329ea3;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  user-select: none;
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  padding-inline: 15px;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}

.controls {
  display: flex;
  gap: 15px;
}